div(class=$data('baseClasses') is="wps-post-list")
  .content
    h2.content-title=$data('title')
  ul.postList
    for post in $data('posts')
      li.postList-post
        h3.postList-title: a.postList-titleLink(href=post.url)=post.title
        .postList-except=post.content
        if(post.image)
          a.postList-imageLink(href=post.url)
            img.postList-thumb(src=post.image)
