$rupture.scale = lookup('$global-layout-scale') || (0 576px 768px 992px 1200px)
$rupture.anti-overlap = lookup('$global-layout-overlap') || -1px

[is='flynt-document-default']
  .btn-primary
    background-color: $global-color-brand
    color: $global-color-text

    &:hover
      background-color: $global-color-brand
      text-decoration: none

  .btn
    border-radius: 5px
    border: 1px solid
    display: inline-block
    margin: 5px 0
    padding: 10px 14px
    transition: background-color .3s ease

    &.--block
      display: block
      text-align: center

    &:focus,
    &:active
      box-shadow: none
      outline: 0
