$maxWidth = $global-layout-maxWidth is defined ? $global-layout-maxWidth : 1140px
$gutterWidth = $global-layout-gutterWidth is defined ? $global-layout-gutterWidth : 15px
rupture.scale = $global-layout-scale is defined ? $global-layout-scale : 0 400px 800px 1200px

[is='wps-post-list-filter']
  center($maxWidth, $gutterWidth)

  .postFilter-categoryFilter,
  .postFilter-tagFilter
    margin-right: 15px
