$gutterWidth = lookup('$layout-gutterWidth') || 15px
$containerMaxWidth = lookup('$layout-containerMaxWidth') || 1140px
$narrowWidth = lookup('$layout-narrowWidth') || 650px
$rupture.scale = lookup('$layout-scale') || (0 768px 992px 1200px)

[is='wps-wysiwyg']
  *,
  *:before,
  *:after
    box-sizing: border-box

  .wysiwyg
    center($containerMaxWidth, $gutterWidth)

    &-fullwidth
      center($fullwidthWidth, $gutterWidth)

    &-narrow
      center($narrowWidth, $gutterWidth)
