$rupture = rupture

$color-text = #000
$color-headline = #153cab
$color-background = #fff
$color-brand = #254fc7
$color-play-button = #f00
$color-triangle = #fff

$layout-scale = 0 768px 992px 1200px
$layout-gutterWidth = 15px
$layout-containerMaxWidth = 1140px
$layout-narrowWidth = 750px
