div(is="wps-post-button-navigation")
  .buttons
    .buttons-prevPageButtonWrapper
      a.buttons-prevPageButton.btn.btnPrimary(href="#prev")= $data('labelPrevButton')
    .buttons-nextPageButtonWrapper
      a.buttons-nextPageButton.btn.btnPrimary(href="#next")= $data('labelNextButton')
