[is='wps-main-layout']
  .btn
    background: #ccc
    border-radius: 5px
    border: 1px solid #aaa
    color: #333
    display: inline-block
    margin: 5px 0
    padding: 12px 18px
    text-decoration: none
    transition: background-color .3s ease

    &:hover
      background: #aaa
      color: #333
      text-decoration: none

    &.--block
      display: block
      text-align: center

    &:focus,
    &:active
      box-shadow: none
      outline: 0

    &.btnPrimary
      background-color: $global-color-brand || #333
      border-color: darken($global-color-headline || #333, 10)
      color: $global-color-brand-alt || #fff

      &:hover
        background-color: darken($global-color-brand || #fff, 10)
        color: $global-color-brand-alt || #fff
